@model Oglasi.Model.Ad

<h1>Predaj oglas</h1>

<form asp-controller="Ad" asp-action="Create" method="post">
    <partial name="_CreateOrEdit" model="Model" />
</form>

@section Scripts{
    <script type="text/javascript">
        Dropzone.options.profilePhotoDz = {
            success: function (file, response) {
                console.log({ file, response });
                document.getElementById("imagePathField").value = response.filePath;
            }
        };
    </script>
}


