@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Oglasi.Model.Ad

<h1>Uredi oglas</h1>


<form action="Edit" method="post">
    <partial name="_CreateOrEdit" model="Model" />
</form>
